<section>
  <%= render "shared/user", user: @user %>
    
  <% if @user.posts.empty? %>
    <%= content_tag :p, "No post available!" %>
  <% else %>
    <% @user.posts.each do |post| %>
      <%= render "shared/post", post: post %>
      <%= render "shared/comment", comments: post.recent_comments %>
    <% end %>
  <% end %>

  <%= button_tag "Pagination", class: "link-btn", type: "button" %>
</section>

