<section>
  <%= render "shared/header", current_user: @current_user %>

  <%= content_tag :div, class: "main-container" do %>
    <header>
      <%= content_tag :h2, @post.title, class: "post-title" %>
      <%= content_tag :span, "Comments: #{@post.comments_counter || 0}" %>
      <%= content_tag :span, "Likes: #{@post.likes_counter || 0}" %>

      <div class="post-btn-bar">
        <% if can? :destroy, @post %>
          <%= form_with model: [@current_user, @post], method: :delete do |f| %>
            <%= f.submit "Delete", class: "btn warn-btn" %>
          <% end %>
        <% end %>
      </div>
    </header>

    <%= content_tag :p, @post.text, class: "post-content" %>

    <div class="post-btn-bar">
      <% if @current_user %>
        <%= form_with model: [@current_user, @post, Like.new] do |f| %>
          <%= f.submit 'Give Like', class: "post-btn" %>
        <% end %>

        <%= link_to "Add Comment", new_user_post_comment_path(@post.author, @post), class: "post-btn" %>
      <% end %>
    </div>

    <%= render "shared/comment", comments: @post.comments, current_user: @current_user %>
  <% end %>
</section>
